h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
p {
    text-align: center;
}
form{
    display: block; width: 650px;
position: relative; left: 30%; float:inline-end;
}
select {
    margin: 9px; padding: 5px; width: 70%;
}
button {
    margin: 9px;
}
 